body {
  font-family: $font-family-regular;
  background: $bg;
  padding: 0;
  margin: 0;
  font-size: $font-size;
}

header {
  background: rgba(0,0,0,0.3);
  display: flex;
  justify-content: space-between;
  padding: 20px;

  .sidebar__toggle {
    display: inline-block;
    margin-right: 10px;
    border: none;
    background: transparent;
    padding: 0;

    svg {
      width: 20px;
    }
  }
}

.appInfo {
  display: flex;
  align-items: flex-end;
}

.app__title {
  font-size: 18px;
  margin: 0;
  color: $text-color;
}

.userInfo {
  display: flex;
  align-items: flex-end;
};
.userInfo__login {
  // font-size: 16px;
  // background: rgba(0, 0, 0, 0.1);
  // color: white;
  // padding: 5px 10px;
  // border: none;
  font-size: 14px;
  background: #516a7d;
  color: white;
  padding: 2px 17px 4px;
  border: 1px solid #2d3a44;
  border-radius: 4px;
}
.userInfo__picture {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  background: rgba(0,0,0,0.3);
  border: 2px solid rgba(0,0,0,0.3);
  padding: 0;
  img {
    max-width: 100%;
  }
}

.wrapper {
  display: flex;
  min-height: calc(100vh - 61px);
  overflow: auto;
  aside {
    position: fixed;
    z-index: 1;
    width: 75%;
    min-height: 100%;
    box-sizing: border-box;
  }
  main {
    position: relative;
    z-index: 10;
    width: 100%;
    padding: 20px;
    background: #364753;
    left: 0;
    transition: left 0.3s ease;
    &.expanded {
      left: 75%;
    }
  }
}

@media (min-width: 800px) {
  .wrapper {
    display: flex;
    min-height: calc(100vh - 61px);
    overflow: auto;
    aside {
      position: relative;
      z-index: 1;
      max-width: 200px;
    }
    main {
      position: relative;
      z-index: 10;
      width: 100%;
      padding: 20px;
      background: #364753;
      &.expanded {
        left: 0;
      }
    }
  }

  header .sidebar__toggle {
    display: none;
  }
}



main {
  
}

.note__date {
  margin: 0;
  padding: 2px 8px;
  font-size: 14px;
  font-style: italic;
  color: #516a7d;
}

.note__actions {
  display: flex;
  justify-content: space-between;
}

.note__save, 
.note__delete {
  font-size: $font-size;
  background: rgba(0,0,0,0.1);
  color: white;
  padding: 5px 10px;
  border: none;
}

.note__save.alert {
  background: #da673b;
}
