.note__code {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.note__modeSelect {
  margin-bottom: 10px;
  font-size: $font-size;
}

.CodeMirror {
  margin-bottom: 10px;
  min-height: 100%;
  flex-grow: 1;
}